<div class="status" id="0" >
  <h2>Start</h2>
    <div data-drag-and-drop-target="item" data-task-id="<%= task.id %>" data-task-status="start">
      <%= task.name if task.status == 'start' %>
    </div>
</div>
<div class="status" id="1">
  <h2>Progress</h2>

  <div data-drag-and-drop-target="item" data-task-id="<%= task.id %>" data-task-status="start">
    <%= task.name if task.status == 'progress' %>
  </div>

</div>

<div class="status" id="2">
  <h2>Done</h2>
  <div data-drag-and-drop-target="item" data-task-id="<%= task.id %>" data-task-status="start">
    <%= task.name if task.status == 'done' %>
  </div>
</div>